name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ^1.22.1
      uses: actions/setup-go@v5
      with:
        go-version: '^1.22.1'
    - name: Install just 1.25.2
      uses: kodeshack/action-install-gh-release@v1.3.0
      with:
        owner: casey
        repo: just
        version: '1.25.2'
        test: just --version
    - uses: actions/checkout@v4
    - name: Lint
      run: |
        just lint-ci
    - name: Publish Lint Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        check_name: "Lint Results"
        files: |
          lint.junit.xml

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go ^1.22.1
      uses: actions/setup-go@v5
      with:
        go-version: '^1.22.1'
    - name: Install just 1.25.2
      uses: kodeshack/action-install-gh-release@v1.3.0
      with:
        owner: casey
        repo: just
        version: '1.25.2'
        test: just --version
    - uses: actions/checkout@v4
    - name: Run Tests
      run: |
        just test-ci
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        check_name: "Test Results"
        files: |
          test.junit.xml
